.Chat {
    display: flex;
    flex-direction: line;
    padding-left: 5rem;
    padding-right: 5rem;
    justify-content: center;
}

.UserArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Title {
    margin-top: 1rem;
    color: transparent;
    font-style: italic;
    font-size: 35px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ee0a0ae1;
}

.UserArea .UserEntry {
    width: 30rem;
    height: 25rem;
    font-size: 20px;
    margin: 1rem;
    padding: 0.5rem;
    background-color: #3a3a3a;
    border: 0px;
    border-radius: 10px;
    resize: none;
    color: #FFFFFF;
}

.UserArea .UserEntry:focus {
    outline: 2px solid #ee0a0ae1;
}

.UserArea .ButtonsArea {
    display: flex;
    flex-direction: line;
}

.UserArea .ButtonsArea .Buttons {
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    border: 2px solid #ee0a0ae1;
    border-radius: 100%;
    background-color: #101010;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 1rem;
    color: #ee0a0ae1;
    transition: 0.3s;
}

.UserArea .ButtonsArea .Buttons:hover {
    background-color: #ee0a0ae1;
    color: #FFFFFF;
    cursor: pointer;
}

.ResponseArea {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ResponseArea .ResponseText {
    width: 30rem;
    height: 25rem;
    font-size: 20px;
    margin: 1rem;
    padding: 0.5rem;
    color: #FFFFFF;
    border: 2px solid #ee0a0ae1;
    border-radius: 10px;
    text-align: justify;
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: pre-wrap;
}

.Dimmed {
    filter: brightness(60%) blur(5px) grayscale(80%);
}