.Chat {
  display: flex;
  flex-direction: line;
  justify-content: space-around;
  padding-left: 5rem;
  padding-right: 5rem;
  gap: 1rem;
  overflow: hidden;
  @media (max-width: 1080px) {
    flex-direction: column;
    padding-bottom: 2rem;
  }
}

.UserArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.Title {
  margin-top: 1rem;
  color: transparent;
  font-style: italic;
  font-size: 2rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ee0a0ae1;
  white-space: nowrap;
  @media (max-width: 1080px) {
    font-size: 1.5rem;
  }
}

.ButtonsArea {
  display: flex;
  flex-direction: line;
  justify-content: center;
  align-self: center;
}

.Unfocused {
  filter: brightness(60%) blur(5px) grayscale(80%);
}
