.Buttons {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  border: 2px solid #ee0a0ae1;
  border-radius: 100%;
  background-color: #101010;
  margin: 0.5rem;
  color: #ee0a0ae1;
  transition: 0.3s;
  @media (max-width: 1080px) {
    font-size: 0.5rem;
  }
}

.Buttons:disabled {
  color: #404040;
  border: 2px solid #404040;
}

.Buttons:hover {
  color: #ffffff;
  background-color: #ee0a0ae1;
  cursor: pointer;
}

.Buttons:disabled:hover {
  color: #404040;
  background-color: #101010;
  cursor: default;
}
